.header

    &__top
        display: flex
        justify-content: space-between
        align-items: center
        

    &__logo
        font-family: 'IBM Plex Mono'
        font-size: 14px
        width: 85px
        height: 65px
        margin-top: 15px

    &__group
        font-size: 12px
        display: flex
        align-items: center
        justify-content: space-between

    &__address
        font-size: 12px
        font-weight: 600
        padding-right: 25px
        span
            padding-left: 8px

    &__squares
        display: flex
        margin: -20px 0 0 0
    &__tel
        text-align: center
        background: $jewel
        color: #ffffff
        width: 142px
        height: 60px
        padding: 15px 0 0 0
        margin: 0px 20px 0 0
        
        span
            font-weight: 400
        a
            font-weight: bolder

    &__burger
        width: 70px
        height: 60px
        background: $fuschia
        margin: 0px
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        cursor: pointer
        span
            width: 36px
            height: 4px
            display: block
            background: #ffffff
            margin: 4px 0


    &__main
        display: flex
        justify-content: space-between
        height: 550px

    &__left
        img
            padding-top: 22px
            width: 100%
            height: auto
            


    &__bg
        position: absolute
        left: 0
        width: 48%
        height: 530px
        background: $stark
        z-index: -1


    &__right
        display: flex
        align-items: start
        justify-content: center
        flex-direction: column
        width: 50%
        font-weight: 600
        padding-left: 15%
    
    &__title
        font-size: 48px
        &:first-child
            padding-bottom: 30px

    &__button
        width: 263px

           
            





