.portfolio
    background: #f3f3f3
    padding-bottom: 100px

    &__wrap
        text-align: center
        margin: 0 auto
        padding: 70px 0 0 0
        display: flex
        flex-direction: column
        align-items: center
        max-width: 1122px
        



    &__title
        color: #333333

    &__subtitle
        max-width: 480px
        color: #999999

    &__list
        padding: 80px 0 0 0
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        +adaptive-width(583, 270)
        


    &__list-item
        color: #333333
        +adaptive-font(16, 12)
        font-family: OpenSans
        cursor: pointer
        position: relative

        &:after
            content: ''
            display: block
            position: absolute
            bottom: -20px
            left: 50%
            transform: translateX(-50%)
            width: 0
            height: 2px
            background: $turq
            transition: .2s

        &:hover::after
            width: 75%
        

    &__gallery
        padding: 60px 0px 40px
.gallery
    display: flex
    width: 100%
   
    &__group
        display: flex
        justify-content: space-between
        +mw600
            flex-direction: column

    &__col
        width: 50%
        transition: .2s
        padding: 0 5px 0
        +mw600
            width: 100%

    &__item

        width: 100%
        cursor: pointer
        position: relative
        overflow: hidden
        margin: 6px auto
        
        &::after
            content: ""
            display: block
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 99%
            background-color: rgba(0,0,0,0.8)
            transform: translateY(-101%)
            transition: .2s
            
        &:hover::after
            transform: translateY(0)

        &:hover .galhover__wrap
            visibility: visible
            opacity: 1
        &:hover .galhover__title:after
            width: 25px
            



    &__image
        width: 100%


    .galhover
        position: absolute
        top: 0
        left: 0
        z-index: 2000
        text-align: left
        width: 100%
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        
        
        
        &__wrap
            width: 70%
            opacity: 0
            visibility: hidden
            transition: .3s

        &__title
            text-transform: uppercase
            font-family: SourceSansPro
            +adaptive-font(20, 15)
            text-align: left
            margin-bottom: 20%
            color: $turq
            position: relative
            &:after
                content: ''
                display: block
                position: absolute
                bottom: -20px
                width: 0px
                height: 2px
                background: $turq
                transition: .3s ease-in-out
            

        &__text
            font-family: MyriadPro
            +adaptive-font(12, 9)
            color: #99cccc

    .galhover

        &__icons
            position: absolute
            bottom: 10%


        &__icon
            color: #ffffff
            text-align: center
            line-height: 30px
            font-size: 15px
            width: 30px
            height: 30px

    &__footer

.portfolio-footer
    position: relative
    max-width: 1112px
    width: calc(100% - 10px)
    background: url('../img/portfolio/portfolio-footer.png')
    background-size: cover
    +adaptive-height(200, 100)
    max-height: 200px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center


    &__image

    &__text
        font-family: OpenSans
        font-size: 20px
        color: #ffffff
        padding-bottom: 25px        

    &__btn
        border-color: #ffffff
        color: #ffffff
        transition: .2s
        &:hover
            background-color: #ffffff
            color: $turq







